*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.Blog {
  display: flex;
  /* grid-template-columns: 30%, 70%; */
  font-family: 'Public Sans', sans-serif;
}

aside {
  /* position: fixed; */
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh; /* set the height to 100% of the viewport height */
  background-color: white;
  width: 44rem;

}
.aside-wrapper {
  width: 80%;
  margin: 0 auto;
  /* border: 1px solid red; */
  margin-top: 5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.profile--img {

  border-radius: 100%;
  width: 7rem;
  height: 7rem;
  margin-bottom: 2rem;
  outline: 3px solid #51735b70;
   border: 3px solid #51735b28;
}
.description {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  margin-bottom: 2rem;
  /* border: 1px solid red; */
  font-weight: 700;
  margin-top: 0.9rem;
  font-family:Georgia, "Times New Roman", Times, serif;
  color: #51735bce;
}
.profile-tags {
  margin-bottom: 0.5rem;
  font-weight: 400;
}
button {
  margin-bottom: 0.6rem;
  padding: 0.8rem 0;
  width: 7rem;
  border-radius: 15rem;
  outline: none;
  font-size: 0.9rem;
  font-weight: 600;
  border: 3px solid #51735b28;
  color: #51735bce;
}

.post--wrapper {
  padding: 3rem 0;
  background: #51735b36;
  grid-column: 2;
  align-items: center;
  justify-content: center;
  /* border: 3px solid red;  */
  /* width: 70%; */

}

.post--container {
  /* border: 1px solid #7d7e848c; */
  width: 60%;
  padding: 3.3rem 0;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 5px rgba(81, 115, 91, 0.397);
}
.contetnt-wrapper {
  margin: 0 auto;
  width: 82%;
  align-items: center;
  /* border: 1px solid red; */
  transition: transform 0.3s ease;
}

.intro--img {
  width: 100%;
  border-radius: 15px;
  transition: transform 0.3s ease;
}
.intro--input {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
  width: 80%;
  /* border: 1px solid red; */
  justify-content: center;
  margin-top: 2.3rem;
}
.small-profile {
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  outline: 3px solid #51735b70;
  border: 3px solid #51735b28;
}
input {
  outline: none;
  border-radius: 40px;
  text-indent: 17px;
  border: 1px solid #7d7e848c;
  background-color: #f5f5f5;
  width: 70%;
  /* background-image: url(../src/img/search.png);
  background-repeat: no-repeat;
  background-position-x:30cqmax;
  background-position-y: center;
  background-size: 1.5rem; */

}

.aesthetic-imgs {
  width: 32%;
  margin-left: 4px;
  /* border-radius: 15px; */
  transition: transform 0.3s ease;

}
 .aesthetic-imgs:hover {
  transform: scale(1.04);
  cursor: pointer;
  border-radius: 15px;
}
.intro--img:hover {
  transform: scale(1.1);
  cursor: pointer;
  border-radius: 15px;
}

.slug {
  font-weight: 900;
  letter-spacing: 0.4rem;
}
.date {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  font-style: italic;
  color: #51735bce;
}
.tag {
  font-size: 0.8rem;
  font-style: italic;
  color: rgba(81, 115, 91, 0.644);
  font-weight: 900;
}
blockquote {
  border:none;
  /* font-family:Georgia, "Times New Roman", Times, serif; */
  }
  .quote--content {
    /* text-align: center; */
    margin: 2rem 0;
  }

  span {
    font-weight: 900;
    color: rgba(81, 115, 91, 0.8);
  }
  .author {
    margin-top: 0.7rem;
    font-size: 700;
    font-style: oblique;
  }

  .aesthetic-column {
    width: 48%;
    margin-left: 4px;
    transition: transform 0.3s ease;
  }
  .images {
    transition: transform 0.3s ease;
    width: 100%;
  }

  .aesthetic-column:hover {
    transform: scale(1.04);
    cursor: pointer;
    border-radius: 15px;
  }
.images:hover {
  transform: scale(1.03);
  cursor: pointer;
  border-radius: 15px;
}
